{% extends 'OpiferFormBundle::base.html.twig' %}

{% block opifer_form_body %}
    <table>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        {% for key, value in post.valueset.namedvalues %}
            <tr>
                <td>{{ value.attribute.displayName }}</td>
                <td>
                    {% if value is 'attachment' %}
                        <a href="{{ asset('uploads/' ~ value) }}"
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock opifer_form_body %}
